* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-fonr: 'Herr Von', cursive;
  --body-font: 'Cabin', sans-serif;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
}
img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

section {
  padding: 4rem 0;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}
